/* CREDITS *********************************************************************
*******************************************************************************/

/**
* @file Streamlabs chat stylesheet. The latest version can always be found at
*   the following url: https://bitbucket.org/Frosthaven/youtube-chat-obs-styles/
* @author Frosthaven @thefrosthaven
*/

/* IMPORTS *********************************************************************
*******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* CUSTOM CSS ******************************************************************
*******************************************************************************/
body {
  margin:0;
  background-color:rgba(0,0,0,0);
}

div[data-from], div[data-from][visible=true] {
  position:relative;
  border:0px solid rgba(255,255,255,0.1);
  border-radius:0px;
  border-width:0px;
  background-color: rgba(10,10,10,.8);
  margin-bottom:8px;
  padding:8px;
  animation: cardIn 6s;
} @keyframes cardIn {
  0% {
    opacity:0;
    transform:scale(0);
    max-height:0px;
  } 2% {
    transform:scale(1);
  } 8% {
    opacity:1;
    max-height:9999px;
  } 100% {
    opacity:1;
  }
}

/* Hide Scrollbar */
* ::-webkit-scrollbar, .tse-scrollbar, .drag-handle {
  width: 0 !important;
  opacity: 0 !important;
}

/* Stay Scrolled To The Bottom */
#log {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  top:0;
  overflow:hidden;
}

/* SET FONTS ******************************************************************/
.name, .message {
  font-family: "Montserrat";
  padding-bottom:2px;
  letter-spacing:2px;
  font-weight:bolder !important;
  display:block;
}

.name {
  font-size:20px;
  line-height:20px;
  padding-bottom:8px;
  text-transform:capitalize;
  font-weight:bold;
  max-width:82%;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.message {
  font-size:24px;
  color:#d3d7da;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-weight:normal;
  overflow:hidden;
}

.message.self_emote {
  font-style:italic;
}

/* BADGES *********************************************************************/
.badges {
  position:absolute;
  top:8px; right:4px;
} .badge {
  margin-right:3px;
}

/* DELETED CONTENT ************************************************************/
#log>div.deleted {
  visibility: hidden;
}

/* EMOJIS *********************************************************************/
#log .emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.1em;
  position: relative;
}

#log .emote img {
  display: inline-block;
  height: 1em;
  opacity: 0;
}

/* URL VARIABLE OVERRIDES ******************************************************
*******************************************************************************/
/* This applies to streamlabs chat if you have ?min=true at end of the url */
.autohide div[data-from] {
  opacity:0;
  animation: cardInFadeOut 8s !important;
} @keyframes cardInFadeOut {
  0% {
    opacity:0;
    transform:scale(0);
    max-height:0;
  } 2% {
    transform:scale(1);
  } 8% {
    opacity:1;
    max-height:9999px;
  } 92% {
    opacity:1;
  } 98% {
    transform:scale(1);
  } 100% {
    opacity:0;
    transform:scale(0);
  }
}

[visible=false] {
  opacity:0 !important;
}

.hidebadges .badges {
  display:none !important;
} .hidebadges .badge {
  display:none !important;
}